
/* Підключення фрифтів */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");

/* Локальне підключення шрифтів*/

/* Скидання стилів */
@import url("reset.css");


/*___________________________________________________________________*/

body {
	font-family: "Epilogue", sans-serif;
	
}

.wrapper {
	min-height: 100%;
	overflow: clip;
}

[class*="__container"] {
	max-width: 1210px;
	margin: 0 auto;
	padding-inline: 20px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 25px;
	background: #545555;
	color: #e5e3e3;
	text-align: center;
	z-index: 50;
}

.header__title {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 5px;
}


/*____________________________________________________________________________________*/

.page {
	background-color: #66d7eb;
	min-height: 800px;
	position: relative;
	overflow: hidden;
}

.helicopter {
	min-height: 600px;
}

.helicopter__body {
	position: absolute;
	animation: fly 6s ease-out forwards;
}

@keyframes fly {
	0% {
		transform: translate(1000px, 850px);
	}
	100% {
		transform: translate(450px, 250px);
	}
}

/*_________ Гвинт ___________________*/

.propeller {
	position: relative;
}

.propeller__box {
	position: absolute;
	top: 0;
	left: 0;
	transform: perspective(1000px) rotateX(-15deg);
	width: 250px;
	height: 10px;
	transform-style: preserve-3d;
	z-index: 3;
}
.propeller__body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}

@keyframes animate {
	0% {
		transform: perspective(1000px) rotateY(0deg);
	} 
	100% {
		transform: perspective(1000px) rotateY(359deg);
	}
}

.propeller__blade {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: radial-gradient(circle, rgba(65,62,62,1) 3%, rgba(29,28,28,1) 100%);
}

.propeller__blade--1 {
	transform: rotateY(0);
	animation: animate 5s linear infinite 0.5s;
}

.propeller__blade--2 {
	transform: rotateY(-50deg);
	animation: animate 5s linear infinite reverse ;
}

.propeller__circle {
	position: absolute;
	top: -5px;
	left: 108px;
	width: 35px;
	height: 20px;
	background: radial-gradient(circle, #d12525 7%, #5e1826 100%);
	border-radius: 50%;
	z-index: 4;
}

.propeller__holder {
	position: absolute;
	top: 10px;
	left: 122px;
	width: 10px;
	height: 25px;
	background-color: #454444;
}

/*_________ Кабіна ___________________*/

.cabin {
	position: relative;
	top: 25px;
	left: 10px;
}

.cabin__top {
	position: absolute;
	top: 0px;
	left: 80px;
	width: 80px;
	height: 20px;
	transform: rotate(5deg);
	border-radius: 5px;
	background: radial-gradient(circle, #d12525 7%, #5e1826 100%);
}

.cabin__body {
	position: absolute;
	top: 14px;
	left: 0;
	width: 200px;
	height: 130px;
	background: 
	url("../img/logo.webp") 70% 50% / 80px no-repeat,
	radial-gradient(circle, #d12525 7%, #5e1826 100%);
	border-radius: 28% 62% 40% 25% / 61% 30% 47% 41%;
	z-index: 2;
}

.cabin__bottom {
	position: absolute;
	top: 74px;
	left: -25px;
	width: 150px;
	height: 70px;
	background: radial-gradient(circle, rgba(209,37,37,1) 6%, rgba(139,29,38,1) 37%, rgba(94,24,38,1) 94%);
	border-radius: 50%;
	z-index: 1;
}

.cabin__window {
	position: absolute;
	top: 24px;
	left: 1px;
	width: 80px;
	height: 60px;
	border-radius: 86% 34% 10% 0% / 98% 47% 10% 0%;
	background: linear-gradient(90deg, rgba(97,112,129,1) 9%, rgba(66,62,64,1) 92%);
	z-index: 2;
}

/*_________ Хвіст ___________________*/

.tail {
	position: relative;
	top: 70px;
	left: 200px;
}

.tail__left {
	width: 120px;
	height: 40px;
	border-radius: 0% 100% 90% 18% / 0% 30% 38% 6%; 
	transform: rotate(5deg);
	background: radial-gradient(circle, #d12525 7%, #5e1826 100%);
	color: #847b7b;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 25px;
}

.tail__right {
	position: absolute;
	left: 115px;
	background: radial-gradient(circle, #d12525 7%, #5e1826 100%);
	width: 23px;
	height: 40px;
}

.tail__right--top {
	top: -15px;
	transform: skew(-20deg);
}

.tail__right--bottom {
	top: 25px;
	transform: skew(20deg);
}

/*_________ шасі  ___________________*/

.chassis__item {
	position: absolute;
	
}

.chassis__item--1 {
	top: 150px;
	left: 0px;
}

.chassis__vertical-line {
	position: absolute;
	width: 10px;
	height: 25px;
	background: linear-gradient(90deg, #413e3e 5%, #1d1c1c 100%);
}

.chassis__vertical-line--1 {
	top: 0;
	left: 30px;
}

.chassis__vertical-line--2 {
	top: 0;
	left: 100px;
}

.chassis__horizontal-line {
	position: absolute;
	top: 24px;
	left: 0;
	width: 140px;
	height: 14px;
	background: linear-gradient(0deg, #3e3232 29%, #852828 54%, #3e3232 88%);
	border-radius: 10px;
}

.chassis__item--2 {
	top: 165px;
	left: 50px;
}

/*_______ декорації ______________________________________*/
/*_______ хмари ______________________________________*/

.scenery__cloud {
	position: absolute;
	opacity: 0.5;
}

.scenery__cloud--1 {
	top: 100px;
	left: -300px;
	animation: cloud-move 15s linear infinite;
}

@keyframes cloud-move {
	0% {
		transform: translateX(-300px);
	}
	100% {
		transform: translateX(2300px);
	}
}

@keyframes cloud-move-2 {
	0% {
		transform: translateX(-300px) scale(1.3);
	}
	100% {
		transform: translateX(2300px) scale(1.3);
	}
}

.scenery__cloud--2 {
	top: 350px;
	left: -300px;
	animation: cloud-move-2 15s linear infinite 4s;
}

.scenery__cloud--3 {
	top: 100px;
	left: -300px;
	animation: cloud-move 15s linear infinite 8s;
}

.scenery__cloud--4 {
	top: 240px;
	left: -300px;
	transform: scale(1.5);
	animation: cloud-move-2 15s linear infinite 12s;
}

/*_______ дерева______________________________________*/

.scenery__tree {
	position: absolute;
}

.scenery__tree--1 {
	bottom: 0px;
	animation: tree-move-1 11s linear forwards;
}

@keyframes tree-move-1 {
	0% {
		transform: translateX(0vw);
	} 
	100% {
		transform: translateX(100vw);
	} 
}

.scenery__tree--2 {
	bottom: -40px;
	animation: tree-move-2 8.5s linear forwards;
}

@keyframes tree-move-2 {
	0% {
		transform: translateX(22vw) rotateY(180deg);
	} 
	100% {
		transform: translateX(100vw) rotateY(180deg);
	} 
}

.scenery__tree--3 {
	bottom: -100px;
	animation: tree-move-3 6s linear forwards;
}

@keyframes tree-move-3 {
	0% {
		transform: translateX(45vw);
	} 
	100% {
		transform: translateX(100vw);
	} 
}

.scenery__tree--4 {
	bottom: 0px;
	animation: tree-move-4 3s linear forwards;
}

@keyframes tree-move-4 {
	0% {
		transform: translateX(70vw);
	} 
	100% {
		transform: translateX(100vw);
	} 
}

.scenery__tree--5 {
	bottom: -100px;
	left: -400px;
	animation: tree-move 15s linear infinite;
}

.scenery__tree--6 {
	bottom: 0;
	left: -400px;
	animation: tree-move 15s linear infinite 4s;
}

.scenery__tree--7 {
	bottom: -40px;
	left: -400px;
	animation: tree-move 15s linear infinite 8s;
}

.scenery__tree--8 {
	bottom: 0;
	left: -400px;
	animation: tree-move 15s linear infinite 12s;
}

@keyframes tree-move {
	0% {
		transform: translateX(-400px);
	} 
	100% {
		transform: translateX(2300px);
	} 
}

/*_______ коробки ______________________________________*/

.scenery__box {
	position: absolute;
}

.scenery__box img {
	max-width: 150px;
}
.scenery__box--1 {
	visibility: hidden;
	opacity: 0;
	animation: box-move-1 6s linear infinite 9s;
}
.scenery__box--2 {
	visibility: hidden;
	opacity: 0;
	animation: box-move-2 6s linear infinite 12s;
}

@keyframes box-move-1 {
	0% {
		opacity: 1;
		visibility: visible;
		transform: translate(45vw, 300px) scale(0.5) rotate(-20deg);
	} 
	100% {
		opacity: 1;
		visibility: visible;
		transform: translate(80vw, 850px) scale(1) rotate(-20deg);
	}
}

@keyframes box-move-2 {
	0% {
		opacity: 1;
		visibility: visible;
		transform: translate(45vw, 300px) scale(0.5) rotate(20deg);
	} 
	100% {
		opacity: 1;
		visibility: visible;
		transform: translate(80vw, 850px) scale(1) rotate(20deg);
	}
}

/*_______   footer _____________________________________________________________________________*/

.footer {
	padding: 25px;
	background: #545555;
}

.footer__content {
	color: #FFF;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 15px;
}