@charset "UTF-8";
/* Підключення фрифтів */
/* Google Fonts (Plugin) */
@import url("https://fonts.googleapis.com/css?family=Manrope:400,500,600,700&display=swap");
/* Локальне підключення шрифтів */
/* Скидання стилів */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  line-height: 1;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  inline-size: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Змінні */
:root {
  --white-color: #fff;
  --bg-color: #1F6BFF;
  --title-color: #271671;
}

/* Основні стилі */
html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-size: 1.125rem;
  font-family: "Manrope", sans-serif;
  color: #000000;
  opacity: 0;
  transition: opacity 1.5s;
}
.loaded body {
  opacity: 1;
}
@media (max-width: 28.12375em) {
  body {
    font-size: 1rem;
  }
}

.wrapper {
  min-height: 100%;
  overflow: clip; /* clip */
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

.button {
  border-radius: 0.625rem;
  background: var(--bg-color);
  text-align: center;
  padding-inline: 35px;
  padding-block: 13px;
  transition: all 0.3s;
}
.button span {
  color: white;
}
@media (max-width: 28.12375em) {
  .button {
    width: 100%;
  }
}
@media (any-hover: hover) {
  .button:hover {
    background: #1f59ce;
  }
}

.title {
  color: var(--title-color);
  letter-spacing: 0.125rem;
  font-size: 2.5rem;
  font-weight: 700;
}
@media (max-width: 28.12375em) {
  .title {
    font-size: 2rem;
  }
}
.title--small {
  font-size: 1.5625rem;
}

.item-info {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 1.25rem;
  background-color: rgba(105, 194, 242, 0.1921568627);
  border-radius: 1.25rem;
}
@media (max-width: 47.99875em) {
  .item-info {
    flex-wrap: wrap;
    gap: 0.9375rem;
  }
}
.item-info__reverse {
  flex-direction: row-reverse;
}
.item-info__content {
  flex: 1 0 40%;
}
@media (max-width: 47.99875em) {
  .item-info__content {
    flex: 1 1 100%;
  }
}
.item-info__title {
  font-size: 1.875rem;
  font-weight: 600;
  color: #c57826;
  margin-bottom: 1.25rem;
}
@media (max-width: 47.99875em) {
  .item-info__title {
    margin-bottom: 0.625rem;
  }
}
.item-info__list li {
  display: flex;
  align-items: start;
  gap: 0.625rem;
}
.item-info__list li::before {
  content: "";
  margin-top: 0.625rem;
  width: 0.625rem;
  min-width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #c57826;
}
.item-info__image {
  flex: 1 1 50%;
  overflow: hidden;
  border-radius: 0.625rem;
  max-width: 100%;
  aspect-ratio: 400/200;
}
.item-info__image img {
  border-radius: 0.625rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 67.5em) {
  .item-info__image {
    aspect-ratio: 400/300;
  }
}
@media (max-width: 47.99875em) {
  .item-info__image {
    flex: 1 1 100%;
    aspect-ratio: 400/200;
  }
}

.reviews__slider {
  width: 100%;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
@media (max-width: 47.99875em) {
  .reviews__slider {
    padding-top: 1.5625rem;
  }
}
@media (max-width: 37.49875em) {
  .reviews__slider {
    padding-top: 0.625rem;
  }
}
.reviews__slider .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 150px;
}
.reviews__slider .swiper-slide img {
  display: block;
  width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.works__slider {
  max-width: 100%;
  height: 100%;
}
.works__slider .swiper-slide {
  text-align: center;
  font-size: 1.125rem;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 19.25rem;
  max-height: 19.25rem;
}
.works__slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works__slider .swiper-slide video {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.invisible {
  display: none;
}

.calculator {
  padding-block-start: 3.125rem;
}
@media (max-width: 47.99875em) {
  .calculator {
    padding-block-start: 1.5625rem;
  }
}
.calculator__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calculator__title {
  margin-bottom: 1.25rem;
}
.calculator__body {
  padding: 0.9375rem;
  max-width: 56.25rem;
  background-color: #e1dfdf;
  border-radius: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services-calc {
  margin-bottom: 0.9375rem;
}
.services-calc__title {
  margin-bottom: 0.9375rem;
}
.services-calc__wrapper {
  display: flex;
  gap: 0.9375rem;
  flex-wrap: wrap;
}
.services-calc__label {
  background-color: rgba(232, 230, 124, 0.6784313725);
  text-align: center;
  border-radius: 0.625rem;
  padding: 0.9375rem;
  position: relative;
  transition: all 0.3s;
}
.services-calc .checked {
  background-color: #dba532;
}
.services-calc__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.services-calc__text {
  font-weight: 600;
}

.range-calc {
  margin-bottom: 0.9375rem;
}
.range-calc__wrapper {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}
.range-calc__label {
  flex: 1 1 auto;
}
.range-calc__result {
  padding: 0.625rem;
  border-radius: 0.625rem;
  font-size: 1.5625rem;
  font-weight: 600;
  background-color: #dba532;
}
.window-range {
  margin-bottom: 0.9375rem;
}
.window-range__wrapper {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}
.window-range__label {
  flex: 1 1 auto;
}
.window-range__result {
  padding: 0.625rem;
  border-radius: 0.625rem;
  font-size: 1.5625rem;
  font-weight: 600;
  background-color: #dba532;
}
.additional-calc {
  margin-bottom: 1.875rem;
}
.additional-calc__title {
  margin-bottom: 0.625rem;
}
.additional-calc__wrapper {
  display: flex;
  gap: 0.9375rem;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
}
.additional-calc__label {
  text-align: center;
  background-color: rgba(232, 230, 124, 0.6784313725);
  border-radius: 0.625rem;
  padding: 0.9375rem;
  position: relative;
  transition: all 0.3s;
}
.additional-calc .checked {
  background-color: #dba532;
}
.additional-calc__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.additional-calc__text {
  font-weight: 600;
}
.column-additional {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.column-additional__label {
  display: inline-flex;
  flex-direction: row-reverse;
  gap: 0.9375rem;
  text-align: center;
  background-color: rgba(232, 230, 124, 0.6784313725);
  border-radius: 0.625rem;
  padding: 0.9375rem;
}
.column-additional__input {
  flex: 0 1 80px;
  border: 0.0625rem solid gray;
  border-radius: 0.3125rem;
  text-align: center;
  font-weight: 600;
}
.column-additional__text {
  font-weight: 600;
}

.result-calc {
  position: relative;
}
.result-calc::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: #9b9898;
}
.result-calc__sum {
  color: var(--title-color);
  font-size: 1.875rem;
  font-weight: 700;
}
.header {
  position: fixed;
  inline-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
  z-index: 50;
  transition: all 0.5s;
  background-color: var(--bg-color);
}
.header__container {
  padding-block: 1.25rem;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 1fr auto auto;
  align-items: center;
}
@media (max-width: 62.06125em) {
  .header__container {
    gap: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .header__container {
    grid-template-columns: auto, auto;
    grid-template-rows: auto auto;
    row-gap: 0.3125rem;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
    padding-block: 0.3125rem;
    line-height: 1.2;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  z-index: 5;
}
@media (max-width: 47.99875em) {
  .header__logo {
    grid-column: 1;
    grid-row: 1;
  }
}
.header__img {
  inline-size: 1.5625rem;
}
.header__name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5625rem;
  color: var(--white-color);
}
@media (max-width: 62.06125em) {
  .header__name {
    font-size: 1.25rem;
  }
}
@media (max-width: 34.37375em) {
  .header__name {
    font-size: 1rem;
  }
}
@media (max-width: 47.99875em) {
  .header__menu {
    grid-column: 1/span 2;
    justify-self: end;
  }
}
@media (max-width: 34.37375em) {
  .header__menu {
    justify-self: center;
  }
}
.header__telephone {
  justify-self: end;
  font-size: 1.375rem;
  font-weight: 700;
  color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 5px;
  z-index: 5;
  position: relative;
}
@media (max-width: 62.06125em) {
  .header__telephone {
    font-size: 1.125rem;
  }
}
@media (max-width: 47.99875em) {
  .header__telephone {
    grid-column: 2;
    grid-row: 1;
  }
}
@media (max-width: 34.37375em) {
  .header__telephone {
    font-size: 1rem;
  }
}
.header__telephone:after {
  content: "";
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  inline-size: 0;
  block-size: 0.125rem;
  border-radius: 0.625rem;
  background-color: var(--white-color);
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .header__telephone:hover:after {
    inline-size: 100%;
  }
}
.header__icon {
  inline-size: 1.5625rem;
}
.header__icon path {
  fill: #08dee5;
}
@media (max-width: 24.99875em) {
  .header__icon {
    display: none;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 1.5625rem;
       column-gap: 1.5625rem;
  row-gap: 0.1875rem;
  justify-content: space-between;
}
@media (max-width: 24.99875em) {
  .menu__list {
    -moz-column-gap: 1.125rem;
         column-gap: 1.125rem;
  }
}
.menu__link {
  color: var(--white-color);
  font-weight: 600;
  font-size: 1.125rem;
  padding-bottom: 0.125rem;
  transition: all 0.3s;
  position: relative;
}
@media (max-width: 24.99875em) {
  .menu__link {
    font-size: 1rem;
  }
}
@media (any-hover: hover) {
  .menu__link:hover::after {
    inline-size: 100%;
  }
}
.menu__link:after {
  content: "";
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  inline-size: 0;
  block-size: 0.125rem;
  border-radius: 0.625rem;
  background-color: var(--white-color);
  transition: all 0.3s;
}

.footer {
  background-color: #62646b;
  padding-block: 1.25rem;
}
.footer__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1.875rem;
}
@media (max-width: 71.875em) {
  .footer__container {
    grid-template-columns: 1fr auto auto;
  }
}
@media (max-width: 28.125em) {
  .footer__container {
    grid-template-columns: auto auto;
    gap: 0.9375rem;
  }
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
@media (max-width: 28.125em) {
  .footer__logo {
    grid-column: 1;
    grid-row: 1;
  }
}
.footer__img {
  inline-size: 1.5625rem;
}
@media (max-width: 22.5em) {
  .footer__img {
    inline-size: 1.25rem;
  }
}
.footer__name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5625rem;
  color: var(--white-color);
}
@media (max-width: 31.25em) {
  .footer__name {
    font-size: 1.25rem;
  }
}
@media (max-width: 25em) {
  .footer__name {
    font-size: 1.125rem;
  }
}
.footer__contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  row-gap: 0.625rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #6fd9fc;
}
@media (max-width: 51.25em) {
  .footer__contacts {
    flex-direction: column;
  }
}
@media (max-width: 31.25em) {
  .footer__contacts {
    font-size: 1.125rem;
  }
}
@media (max-width: 28.125em) {
  .footer__contacts {
    grid-row: 1/span 2;
  }
}
.footer__messengers {
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
}
@media (max-width: 28.125em) {
  .footer__messengers {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
  }
}
.footer__messenger {
  max-width: 30px;
  overflow: hidden;
}
.footer__messenger img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* --------------------- */
[class*=__container] {
  padding-inline: 0.9375rem;
  max-width: 87.5rem;
  margin: 0 auto;
}
@media (min-width: 62.06125em) {
  [class*=__container] {
    padding-inline: 2.5rem;
  }
}

/* --------------------- */
.about {
  padding-top: 7.5rem;
  padding-bottom: 3.125rem;
}
.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  position: relative;
}
@media (max-width: 47.99875em) {
  .about__container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.about__container::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  inline-size: 64.53%;
  aspect-ratio: 1;
  transform: translate(71.3%, -97.56%) rotate(-130.444deg);
  border-radius: 50%;
  background: rgba(19, 46, 199, 0.5411764706);
  filter: blur(18.75rem);
  z-index: -1;
}
.about__content {
  flex: 1 1 60%;
}
.about__title {
  margin-bottom: 1.25rem;
}
@media (max-width: 47.99875em) {
  .about__title {
    margin-bottom: 0.9375rem;
  }
}
.about__text {
  color: #647685;
  margin-bottom: 2.9375rem;
}
.about__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
@media (max-width: 47.99875em) {
  .about__text {
    margin-bottom: 1.6875rem;
  }
}
.about__list li {
  position: relative;
  padding-left: 1.875rem;
}
.about__list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: url("../img/icons/check.svg") center/contain no-repeat;
}
.about__image {
  flex: 1 1 40%;
  max-width: 25rem;
  aspect-ratio: 2000/2479;
  overflow: hidden;
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 0rem 1.5rem 7.25rem 0rem rgba(16, 78, 172, 0.2823529412);
}
.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services {
  background-color: rgba(105, 194, 242, 0.1921568627);
  padding-block-start: 4.375rem;
  padding-block-end: 4.375rem;
}
.services__title {
  text-align: center;
  margin-bottom: 1.25rem;
}
.services__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
}
.services__card {
  position: relative;
  flex: 0 1 32%;
  padding: 1.25rem;
  border-radius: 1.25rem;
  overflow: hidden;
  transition: all 0.5s;
  transform: translate(0px, 15%);
}
@media (any-hover: hover) {
  .services__card:hover {
    box-shadow: 0px 4px 11px 4px rgba(130, 124, 124, 0.329);
  }
}
@media (max-width: 67.5em) {
  .services__card {
    flex: 1 1 48%;
    flex-wrap: wrap;
  }
}
@media (max-width: 47.99875em) {
  .services__card {
    flex: 1 1 100%;
    padding: 0.9375rem;
  }
}
@media (min-width: 47.999375em) {
  .services__card {
    opacity: 0;
  }
  .--animate .services__card {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  .--animate .services__card:nth-child(1) {
    transition-delay: 0.1s;
  }
  .--animate .services__card:nth-child(2) {
    transition-delay: 0.2s;
  }
  .--animate .services__card:nth-child(3) {
    transition-delay: 0.3s;
  }
  .--animate .services__card:nth-child(4) {
    transition-delay: 0.4s;
  }
  .--animate .services__card:nth-child(5) {
    transition-delay: 0.5s;
  }
  .--animate .services__card:nth-child(6) {
    transition-delay: 0.6s;
  }
}
.services__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #3e4041;
  opacity: 0.4;
  z-index: -1;
}
.services__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.25rem;
  z-index: -2;
}
.services__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.services__header {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 20px;
  flex-grow: 1;
}
@media (max-width: 47.99875em) {
  .services__header {
    gap: 0.9375rem;
  }
}
.services__icon {
  inline-size: 3.125rem;
}
.services__name {
  color: var(--white-color);
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 0.9375rem;
}
@media (max-width: 47.99875em) {
  .services__name {
    font-size: 1.5625rem;
    margin-bottom: 0.625rem;
  }
}
.services__content {
  text-align: center;
}
.services__price {
  color: var(--white-color);
  font-size: 1.375rem;
  font-weight: 600;
}
.services__price span {
  font-size: 1.875rem;
}
.services__price:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (max-width: 47.99875em) {
  .services__price {
    font-size: 1.125rem span;
    font-size-font-size: 1.5625rem;
  }
  .services__price:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.services__button {
  display: inline-block;
}

.spring-cleaning {
  padding-block-start: 6.25rem;
}
@media (max-width: 47.99875em) {
  .spring-cleaning {
    padding-block-start: 4.375rem;
  }
}
.spring-cleaning__title {
  text-align: center;
  margin-bottom: 1.875rem;
}
@media (max-width: 47.99875em) {
  .spring-cleaning__title {
    margin-bottom: 0.9375rem;
  }
}
.spring-cleaning__item-info:not(:last-child) {
  margin-bottom: 30px;
}

.repair-cleaning {
  padding-block-start: 6.25rem;
  padding-block-end: 3.125rem;
}
@media (max-width: 47.99875em) {
  .repair-cleaning {
    padding-block-start: 4.375rem;
    padding-block-end: 1.875rem;
  }
}
.repair-cleaning__title {
  text-align: center;
  margin-bottom: 1.875rem;
}
@media (max-width: 47.99875em) {
  .repair-cleaning__title {
    margin-bottom: 0.9375rem;
  }
}
.repair-cleaning__item-info:not(:last-child) {
  margin-bottom: 30px;
}

.additional-cleaning {
  padding-block-start: 6.25rem;
}
@media (max-width: 47.99875em) {
  .additional-cleaning {
    padding-block-start: 4.375rem;
  }
}
.additional-cleaning__title {
  text-align: center;
  margin-bottom: 1.875rem;
}
@media (max-width: 47.99875em) {
  .additional-cleaning__title {
    margin-bottom: 0.9375rem;
  }
}
.office-cleaning {
  padding-block-start: 6.25rem;
}
@media (max-width: 47.99875em) {
  .office-cleaning {
    padding-block-start: 4.375rem;
  }
}
.office-cleaning__title {
  text-align: center;
  margin-bottom: 1.875rem;
}
@media (max-width: 47.99875em) {
  .office-cleaning__title {
    margin-bottom: 0.9375rem;
  }
}
.window-cleaning {
  padding-block-start: 6.25rem;
}
@media (max-width: 47.99875em) {
  .window-cleaning {
    padding-block-start: 4.375rem;
  }
}
.window-cleaning__container {
  display: flex;
  align-items: center;
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 47.99875em) {
  .window-cleaning__container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
.window-cleaning__image {
  flex: 1 1 50%;
  overflow: hidden;
  border-radius: 1.25rem;
  max-width: 100%;
  aspect-ratio: 600/400;
}
@media (max-width: 57.5em) {
  .window-cleaning__image {
    flex: 1 1 40%;
    aspect-ratio: 400/450;
  }
}
@media (max-width: 47.99875em) {
  .window-cleaning__image {
    display: none;
  }
}
.window-cleaning__image img {
  border-radius: 1.25rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.window-cleaning__content {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 57.5em) {
  .window-cleaning__content {
    flex: 1 0 60%;
  }
}
@media (max-width: 47.99875em) {
  .window-cleaning__content {
    flex: 1 1 100%;
  }
}
.window-cleaning__title {
  margin-bottom: 0.625rem;
}
.window-cleaning__text {
  color: #647685;
}
.window-cleaning__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.price-card {
  background-color: rgba(105, 194, 242, 0.1921568627);
  padding: 1.25rem;
  border-radius: 1.25rem;
  max-width: 31.25rem;
}
.price-card__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  background-color: var(--white-color);
  border-radius: 1.25rem;
  margin-bottom: 0.625rem;
}
.price-card__table th {
  text-align: center;
  padding: 0.3125rem;
  font-size: 1.25rem;
  font-weight: 700;
}
.price-card__price-header {
  color: var(--bg-color);
  text-align: right;
}
.price-card__service {
  background-color: rgba(232, 230, 124, 0.6784313725);
  padding: 12px;
  border-radius: 20px 0 0 20px;
  font-weight: bold;
}
.price-card__price {
  background-color: rgba(232, 230, 124, 0.6784313725);
  text-align: right;
  padding: 12px;
  border-radius: 0 20px 20px 0;
  font-weight: bold;
  white-space: nowrap;
}
.price-card__note {
  font-weight: normal;
  font-size: 12px;
  display: block;
}
.price-card__disclaimer {
  font-weight: normal;
  font-size: 12px;
  display: block;
}

.reviews {
  padding-block-start: 4.375rem;
  padding-block-end: 1.875rem;
}
@media (max-width: 47.99875em) {
  .reviews {
    padding-block-start: 3.125rem;
    padding-block-end: 0.9375rem;
  }
}
.reviews__title {
  text-align: center;
  margin-bottom: 0.9375rem;
}
.reviews__text {
  color: #647685;
  text-align: center;
}
.works {
  padding-block-start: 3.125rem;
}
@media (max-width: 47.99875em) {
  .works {
    padding-block-start: 1.5625rem;
  }
}
.works__container {
  padding-bottom: 50px;
  background-color: rgba(105, 194, 242, 0.1921568627);
  border-radius: 1.25rem;
}
@media (max-width: 47.99875em) {
  .works__container {
    padding-block: 1.5625rem;
  }
}
.works__title {
  text-align: center;
  margin-bottom: 0.9375rem;
}
.call {
  background-color: #0c2860;
  color: var(--white-color);
  padding: 1.875rem;
}
@media (max-width: 47.99875em) {
  .call {
    padding: 1.25rem;
  }
}
.call__container {
  display: flex;
  gap: 1.875rem;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 24.99875em) {
  .call__container {
    flex-wrap: wrap;
    gap: 0.9375rem;
  }
}
.call__title {
  font-size: 1.875rem;
}
.call__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (max-width: 47.99875em) {
  .call__title {
    font-size: 1.5625rem;
  }
  .call__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
@media (max-width: 31.24875em) {
  .call__title {
    font-size: 1.125rem;
    text-align: center;
  }
}
@media (max-width: 31.24875em) {
  .call__text {
    display: none;
  }
}
.call__numbers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.625rem;
}
@media (max-width: 24.99875em) {
  .call__numbers {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.call__number {
  border: 2px solid var(--white-color);
  border-radius: 0.9375rem;
  padding: 0.625rem;
  transition: box-shadow 0.3s;
}
@media (any-hover: hover) {
  .call__number:hover {
    box-shadow: 0 2px 4px rgba(242, 239, 239, 0.395);
    transition: box-shadow 0.3s;
  }
}