// Variables

$fontFamily: "Manrope", serif;

$bgColor: #141414;
$bgColor2: #1A1A1A;
$bgColor3: #0F0F0F;
$contentColor: #FFF;
$textColor: #999;
$borderColor: #262626;
$borderColor2: #1F1F1F;
$elementColor: #E50000;