
/* Підключення фрифтів */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,700&display=swap");
/* Локальне підключення шрифтів*/

/* Скидання стилів */
@import url("reset.css");


/*___________________________________________________________________*/

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding-inline: 20px;
}

.header {
	padding: 40px;
	background: url("../img/pattern.avif");
}

.header__title {
	font-family: "Epilogue", sans-serif;
	font-size: 50px;
	text-align: center;
	letter-spacing: 10px;
	font-weight: 800;
	color: #391400;
	text-shadow: 4px 2px 4px #EF6D58;
	padding: 15px;
}

/*_______  section-portfolio  _____________________________________________________________________________*/
.section-portfolio {
	background: #FDF0E9;
	font-family: "Epilogue", sans-serif;
	padding-block: 80px;
}

.section-portfolio__items {
	margin-left: -85px;
	margin-right: -85px;
	font-size: 0;
}

.section-portfolio__item {
	display: inline-block;
	vertical-align: top;
	padding-left: 85px;
	padding-right: 85px;
}

.item-portfolio-1 {
	max-width: 47%;
}

.item-portfolio__subtitle {
	color: #EF6D58;
	font-size: 16px;
	line-height: 2;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.item-portfolio__title {
	color: #391400;
	font-size: 56px;
	font-weight: 800;
	text-transform: capitalize;
	line-height: 1.14;
	letter-spacing: -1px;
	margin-bottom: 26px;
	max-width: 397px;
}

.item-portfolio__content {
	color: #391400;
	font-size: 20px;
	line-height: 1.6; 
	margin-bottom: 26px;
}

.item-portfolio__list {
	color: #391400a3;
	font-size: 16px;
	line-height: 2;
}

.item-portfolio__list li {
	margin-bottom: 16px;
}

.item-portfolio__list span {
	background: url("../img/portfolio/check.svg") left top / 32px no-repeat;
	padding-left: 48px;
	min-height: 32px;
	display: inline-block;
}

.item-portfolio-2 {
	max-width: 53%;
}

.item-portfolio__img img {
	max-width: 100%;
}

/*_______ section-dark  __________________________________________________________*/

.section-dark {
	font-family: "Manrope", sans-serif;
	background: #141414;
}

.section-dark__backgraund {
	min-height: 861px;
	background:
	url("../img/dark/abstract.png") center / 24% no-repeat, 
	linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0.00) 100%), 
	linear-gradient(180deg, rgba(20, 20, 20, 0.00) 0%, #141414 100%), 
	url("../img/dark/background.png") center / cover no-repeat,
	#141414;
}

.section-dark__page{
	
	padding-bottom: 30px;
	margin-top: -64px;
}

.section-dark__content {
	max-width: 1096px;
	text-align: center;
}

.section-dark__title {
	color: #FFF;
	font-size: 58px;
	font-weight: 700;
	text-transform: capitalize;
	line-height: 1.5;
	margin-bottom: 14px;
}

.section-dark__text {
	color: #999;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 50px;
}

.section-dark__button {
	padding: 18px 24px;
	border-radius: 8px;
	background: #E50000;
	text-align: center;
	color: #FFF;
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
	line-height: 1.5;
}

.section-dark__button span {
	background: url("../img/dark/icon.svg") left top / 28px no-repeat;
	padding-left: 32px;
}

/*_______  section-practice  __________________________________________________________*/

.section-practice {
	background: #FDF0E9;
	font-family: "Epilogue", sans-serif;
	padding-block: 80px;
}

.block {
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: rgb(222, 126, 102);
	text-align: center;
	font-size: 20px;
	font-weight: 800;
	color: #391400;
	padding: 20px;
	margin-right: 10px;
	vertical-align: top;
}

.border {
	border: 5px dashed rgb(59, 59, 57);
}

.border-radius {
	border-radius: 50%;
}

.box-shadow {
	box-shadow: -4px 10px 7px rgba(48, 41, 41, 0.841);
}

.opacity {
	opacity: 0.7;
}

.gradient {
	background: linear-gradient(90deg, rgba(102,9,121,1) 22%, rgba(0,238,255,1) 53%);
}

/*_______  footer  __________________________________________________________*/

.footer {
	padding: 40px;
	background: #3d3b3b;
	font-family: "Manrope", sans-serif;
	font-size: 30px;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 10px;
	text-align: center;
}

